@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply flex h-svh w-svw flex-1 items-center justify-center overflow-hidden bg-zinc-50 dark:bg-zinc-900;
  }
}

.bounce-shadow {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.05) 100%
  );
  animation: shadow 1s infinite ease;
  animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
}

.superSpinner {
  font-size: 56px;
  transform: rotate(-15deg);
  animation: spinner 1s;
}

@keyframes spinner {
  0% {
    transform: rotate(-999999999deg);
    font-size: 0px;
  }

  50% {
    font-size: 111px;
  }

  100% {
    transform: rotate(25deg);
    font-size: 56px;
  }
}

@keyframes shadow {
  50% {
    transform: scaleX(1.8);
    animation-timing-function: cubic-bezier(0, 0, 0, 0.85);
  }
}
